@import "variables";
@import "fonts";
@import "IE";

.scrollable{
	overflow-y:auto;
	height:calc(100% - 210px);
}

.login-page{
	&.show-login{
		.register-form-wrapper{
				display:none;
			}
		}
		

	&.show-register{
		.login-form-wrapper{
			display:none;
		}
	}
	
	.login-form{
	
	background-color:#efefef;
	}	
}


body {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
    font-size: 1.2rem;
    .top-banner {
        height: 60px;
        background-image: url(/TS1218/images/Banner_1900_100.png);
        background-repeat: no-repeat;
        background-size: cover;
        .navbar-brand {
            img {
                height: 60px;
            }
        }
    }
    .top-nav {
        border-bottom: 1px solid #333;
        margin-bottom: 1px;
        a {
            color: black;
        }
    }
    #info-page {
        border-right: 1px solid black;
    }
    .partner-logos {
        img {
            height: 60px;
        }
    }
    .logos {
    height:60px;
    width :60px;
    }
    .mmsg {
    padding:10px 40px;
    float:right;
    font-size:18px;
    height:60px;
    width:40%;
    font-style:italic;
    color: black;
    }
    #footer{
        height:60px;
    }

    #img-line{
        height:100px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #trw{
        height: 80px;
        font-size:40px;
    }
    .toolbar{
        padding:10px;
        background-color:#efefef;
    }
    .sfont {
    font-size: smaller;
    }
    
    .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;

    padding:10px;
}
}

#wrapper {
    /*	 width: 90%; */
    /* right: 0px; */
    min-height: 560px;
    margin: 0px auto;
    /*	width: 800px; */
    position: relative;
}

/**** Styling the form elements **/

/**** general text styling ****/

#wrapper a {
    color: rgb(95, 155, 198);
    text-decoration: underline;
}

#wrapper h1 {
    font-size: 48px;
    color: rgb(6, 106, 117);
    padding: 2px 0 10px 0;
    font-family: 'FranchiseRegular', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

/** For the moment only webkit supports the background-clip:text; */

#wrapper h1 {
    background: -webkit-repeating-linear-gradient(-45deg, rgb(18, 83, 93), rgb(18, 83, 93) 20px, rgb(64, 111, 118) 20px, rgb(64, 111, 118) 40px, rgb(18, 83, 93) 40px);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#wrapper h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -moz-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(147, 184, 189, 0)), color-stop(20%, rgba(147, 184, 189, 0.8)), color-stop(53%, rgba(147, 184, 189, 1)), color-stop(79%, rgba(147, 184, 189, 0.8)), color-stop(100%, rgba(147, 184, 189, 0)));
    background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
    background: -o-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
    background: -ms-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
    background: linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}

#wrapper p {
    margin-bottom: 15px;
}

#wrapper p:first-child {
    margin: 0px;
}

#wrapper label {
    color: rgb(64, 92, 96);
    position: relative;
}

/**** advanced input styling ****/

/* placeholder */

::-webkit-input-placeholder {
    color: rgb(190, 188, 188);
    font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: rgb(190, 188, 188);
    font-style: italic;
}

input {
    outline: none;
}

/* all the input except submit and checkbox */

#wrapper input:not([type="checkbox"]):not([type="number"]):not([type="radio"]) {

    margin-top: 4px;
    margin-left: 15px;
    padding: 10px 5px 10px 10px;
    border: 1px solid rgb(178, 178, 178);



    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#wrapper input:not([type="checkbox"]):not([type="number"]):not([type="radio"]):active,
#wrapper input:not([type="checkbox"]):not([type="number"]):not([type="radio"]):focus {
    border: 1px solid rgba(91, 90, 90, 0.7);
    
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */

.popup .popuptext {
    visibility: hidden;
    width: 260px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 100;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: @txtcolor;
    background-color: @bgcolor;
}

.nav-item>a:hover {
    color: @txtcolor;
}